{
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended",
		"plugin:react/recommended"
	],
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"rules": {
		"semi": "error",
		"@typescript-eslint/no-non-null-assertion": "off",
		"react/display-name": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		],
		"@typescript-eslint/explicit-function-return-type": 0,
        "react/react-in-jsx-scope": "off",
		"no-console": [
			"error",
			{
				"allow": ["warn", "error"]
			}
		]
	},
	"parserOptions": {
		"parser": "babel-eslint",
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	}
}
